input {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=submit] {
    border-radius: 8px;
    color: antiquewhite;
    background-color: darkolivegreen;
    padding: 4px;
}

input[type=submit]:hover {
    color: orange;
    transform: scale(1.1);
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
}

legend {
    font-weight: bold;
}

